.root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.widgets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4em;
}

.widget {
    background: rgb(16, 16, 16);
    border-radius: var(--rounded-radius);
    display:inline;
    padding: 1rem
}

.hero {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.time {
    font-weight: var(--fontWeightBold);
}

.date {
    font-size: var(--fontSizeBase600);
    font-weight: var(--fontWeightSemibold);
    line-height: var(--lineHeightHero700);
}