.content {
    margin: 3dvw;
    display: inline-block;
    color: white
}

.greeting {
    font-size: var(--font-title);
    font-weight: bold;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.326);
}

.widgets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 2em;
    column-gap: 1em;
}

.widget {
    margin: 10px;
    background: white;
    border-radius: var(--rounded-radius);
    display:inline;
    padding: 1rem
}