.button {
    margin-top: 4rem;
    color: black;
    background: white
}

.input[type="number"] {
    font-size: 2.5rem;
    background: inherit;
    border: 1px solid grey;
    color: inherit;
    margin-right: 20px;
    height: 1.5em;
}

.input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.presets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* .title {
    font-weight: bold;
    font-size: var(--font-emphasis)
} */

.timer {
    font-size: var(--font-emphasis);
    text-align: center;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    align-items: center;
    background: #38383875;
    box-shadow: var(--shadow64);
    backdrop-filter: blur(15px) brightness(0.5);
    padding:3rem;
    border-radius: var(--borderRadiusXLarge);
    width: 20rem;
    height: 30rem;
    align-items: stretch;
    justify-items: center;
}

.root {
    /* background: #171717; */
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
}

.digits {
    display: flex;
    height:10em;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.circle {
    width: 10em;
    height: 10em
}