.button {
    margin-top: 4rem;
}

.input[type="number"] {
    font-size: 2.5rem;
    background: inherit;
    border: 1px solid grey;
    color: inherit;
}

.input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.timer {
    font-size: var(--font-emphasis);
    text-align: center;
    display: flex;
    align-items: center;
    padding: 7rem
}

.root {
    background: #171717;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
}

.timer {
    background: #212121;
    border-radius: var(--rounded-radius);
    width: fit-content;
    display:grid
}

.digits {
    display: flex;
    height:fit-content;
    justify-content: center;
    font-weight: bolder;
}