h1 {
    font-size: var(--font-heading);
    text-align: center;
}

button {
    
}

input {
    font-size: var(--font-emphasis);
}

.timer {
    font-size: var(--font-emphasis);
    text-align: center;
    display: flex;
    align-items: center;
    padding: 10rem
}

.component {
    background: #212121;
    border-radius: var(--rounded-radius);
    width: fit-content;
    display: grid;
    align-items: center;
    color: white
}