.html {
    background:#171717;
    color: white;
    height: 100dvh
}

.settingsMenu {
    width: fit-content;
    background: #272727;
    padding: 60px;
    float: left;
    padding-left:10dvw;
    height:100dvh;
    box-sizing: border-box;
}

.settingsMenu > ul {
    padding: 0
}

.settingsMenu > ul > li {
    list-style: none;
    box-sizing: border-box;
    /* width: 300px; */
    height: 45px;
    border-radius: var(--rounded-radius);
    margin-top: 25px;
    padding-left: 40px;
    padding-right: 50px;
    background: #4D4D4D;
    display:flex;
    flex-direction: row;
    align-items: center;
    font-size: 16pt;
}