.html {
    background:#171717;
    color: white;
    height: 100dvh
}

.settingsMenu {
    width: fit-content;
    background: #272727;
    padding: 60px;
    float: left
}

.settingsMenu > ul {
    padding: 0
}

.settingsMenu > ul > li {
    list-style: none;
    box-sizing: border-box;
    width: 394px;
    height: 76px;
    margin-top: 32px;
    padding-left: 50px;
    background: #4D4D4D;
    display:flex;
    flex-direction: row;
    align-items: center;
    font-size: 25pt;
}