:root {
    --hover: rgba(210, 255, 255, 0.182);
    --icon-padding: 0.45rem;
    --icon-size: 28px
}

.sidebar {
    backdrop-filter: blur(20px) brightness(0.4) contrast(0.9);
    height: 100dvh;
    color: white;
    display:flex;
    flex-direction: column;
    padding: 10px;
    width: 230px;
    box-sizing: border-box;
    transition: ease-out;
    transition-duration: 150ms;
}

.collapsed {
    width: calc(var(--icon-padding) + var(--icon-size)*2)
}

.navList {
    align-items: left;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap
}

.menuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(var(--font-regular) + 0.15rem);
    border-radius: var(--rounded-radius);
    margin-top: 5px;
    text-decoration: none;
    padding: var(--icon-padding)
}

.menuItem:hover {
    background: var(--hover)
}

.icon {
    height: var(--icon-size);
    object-fit: contain;
}

.navEntry {
    margin-left: 8px;
}

/* .hidden {
    display: none;
} */

.menuIcon {
    padding: var(--icon-padding);
    border-radius: var(--rounded-radius);
    width: var(--icon-size);
    margin-bottom: 1rem
}

.menuIcon:hover {
    background: var(--hover)
}

.profileBox {
    float: left
}

.bottom {
    margin-top:auto;
    width: fit-content;
    height: var(--icon-size);
    border-radius: var(--rounded-radius);
    padding: var(--icon-padding)
}

.bottom:hover {
    background: var(--hover)
}