.sidebar {
    backdrop-filter: blur(25px) brightness(0.4) contrast(1.1);
    border-radius: 0 25px 25px 0;
    height: 100dvh;
    width: 300px;
    padding: 0;
    float:left;
    color: white;
    display:flex;
    flex-direction: column;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    padding: 10px;
    box-sizing: border-box
}

.navList {
    align-items: left;
}

.menuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16pt;
}

.icon {
    margin: 10px 10px 10px 0;
    max-height: 48px;
}

.menuIcon {
    float:left
}

.profileBox {
    float: left
}

.bottom {
    margin-top:auto;
}