:root {
    --hover: rgb(219 219 219 / 32%);
    --icon-padding: 0.4rem;
    --icon-size: 26px
}

.root {
    backdrop-filter: blur(15px) brightness(0.5);
    height: 100dvh;
    color: white;
    display:flex;
    flex-direction: column;
    padding: 10px;
    width: 220px;
    box-sizing: border-box;
    transition: ease;
    transition-duration: 300ms;
}

.collapsed {
    width: calc(var(--icon-padding) + var(--icon-size)*2)
}

.navList {
    align-items: left;
    white-space: nowrap
}

.menuItem {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    font-size: var(--font-regular);
    border-radius: var(--borderRadiusLarge);
    margin-top: 5px;
    text-decoration: none;
    padding: var(--icon-padding);
    overflow-x: hidden;
}

.menuItem:hover {
    background: var(--hover);
    box-shadow: var(--shadow4);
    
}

.icon {
    height: var(--icon-size);
    object-fit: contain;
}

.navEntry {
    margin-left: 8px;
}

.menuIcon {
    padding: var(--icon-padding);
    border-radius: var(--borderRadiusLarge);
    width: var(--icon-size);
    margin-bottom: 1rem
}

.menuIcon:hover {
    background: var(--hover)
}

.profileBox {
    float: left
}

.bottom {
    margin-top:auto;
    width: fit-content;
    height: var(--icon-size);
    border-radius: var(--borderRadiusLarge);
    padding: var(--icon-padding)
}

.bottom:hover {
    background: var(--hover)
}