@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700&display=swap');
* {
  font-family: 'Figtree', sans-serif;
}

.section-header {
    color: white;
    font-size: 40pt;
    font-weight: bold;
    margin:0
}

/* Variables */
:root {
  --background-image: url('./assets/custom.jpg')
}