@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700&display=swap');
* {
  font-family: 'Figtree', sans-serif;
}

.prevent-select {
  user-select: none; /* Standard syntax */
}

button {
  border: none;
  border-radius: var(--rounded-radius);
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
}

/* Variables */
:root {
  /* Personalisation */
  --background-image: url('./assets/Yum.jpg');

  /* Design System */
  --rounded-radius: 5px;
  --font-regular: 1rem;
  --font-emphasis: 1.5rem;
  --font-heading: 1.9rem
}