@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700&display=swap');
* {
  font-family: 'Figtree', sans-serif;
}

.section-header {
    color: white;
    font-size: 30pt;
    font-weight: bold;
    margin:0;
    padding-top: 1em
}

/* Variables */
:root {
  --background-image: url('./assets/Yum.jpg');
  --rounded-radius: 5px
}